* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 16px */
    /*  1rem = 10px */
    /* font-size: 10px; */
    /* 100/16 = 6.25 */
    /* 6.25*10 = 62.5% */
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

p {
    font-size: 18px;
}

.raw {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 10px;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
}

.common-btn {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 16px 25px;
    border-radius: 35px 40px;
    font-size: 18px;
    font-weight: 600;
}

.main-titel {
    color: #020202;
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    line-height: 7rem;
    margin-bottom: 2.8rem;
}

.sub-titel {
    color: #878787;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 3.6rem;
    max-width: 75.6rem;
    margin: 0 auto;
    margin-bottom: 8rem;
}


/************header**************/
header {
    /* background-color: #C4C4C4; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container nav {
    margin-left: auto;
}

.container nav ul li {
    display: inline-block;
    margin-right: 6.6rem;

}

.container nav ul li a {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

header i {
    color: var(--primary-color);
    font-size: 1.8rem;
}










/**********************************************/


/**********************Hero section *******************/
#hero {
    background-image: url(../images/istanbul-s-ocean-with-cruise-ship.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-bottom: 9.6rem;

}

#hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.hero-data {
    padding-top: 30%;
    position: relative;
    z-index: 99;
}

.hero-data h1 {
    color: var(--primary-color);
    font-size: 9rem;
    font-weight: 700;
    line-height: 11rem;
    margin-bottom: 3.7rem;
}

.hero-data p {
    color: #CFCFCF;
    font-weight: 500;
    line-height: 3.6rem;
    max-width: 43.6rem;
    margin-bottom: 2.1rem;
}

.hero-form {
    width: 73rem;
    background-color: var(--primary-color);
    border-radius: 7.2rem;
    display: block;
    padding: 1.1rem 1.4rem 1.1rem 2.2rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 3.6rem 0;


}

.hero-form select {
    border: none;
    color: #9B9B9B;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

.hero-data span {
    color: #ECECEC;
    font-weight: 600;

}

/**********************************************/


/* ************* About section ***************************/
#about {
    margin-top: 15rem;
}


.work {
    padding-right: 2.8rem;
}

.vision {
    padding: 0 2.8rem;
}

.mision {
    align-items: center;

}



.about-data {
    text-align: center;
    margin-bottom: 8.3rem;
    row-gap: 4rem;
    justify-content: center;
}

.about-data img {
    margin: 0 auto;
    margin-bottom: 4.6rem;
}

.about-data h3 {
    text-align: center;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 7.0rem;
}

.about-data p {
    color: #878787;
    text-align: center;
    font-weight: 500;
    line-height: 3.6rem;
    justify-content: center;
    row-gap: 2rem;
}

.about-img-gap {
    padding-right: 13rem;
    row-gap: 5rem;

}



.about-images img {
    object-fit: cover;
    height: 55rem;
    border-radius: 15rem 0 15rem 0;
    width: 100%;

}

.about-img-gap .img-data img {
    margin-bottom: 5.67rem;

}

.img-data p {
    color: #878787;
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 4.4rem;
}

.about-img-gap .img-data h3 {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 7rem;
}




/* ********************************************* */



/* ******************* Packages section ******************* */
#packages {
    margin-top: 15rem;

}

.popular {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6.6rem;
    row-gap: 2rem;
}

.popular h3 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 7rem;
}

.popular p {
    color: #878787;
    font-weight: 500;
    line-height: 3rem;
    margin-top: 1.4rem;
}

.detail {
    row-gap: 2rem;
}

.detail .pack-data-1 {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);

}

.pack-data-1 .ratting img {
    object-fit: cover;
    object-position: end top;
    width: 100%;
    height: 32rem;
    border-radius: 10px 10px 0px 0px;

}

.pack-data-1 {
    margin: 0 1rem;
}

.pack-detail {
    padding: 2.5rem 3.5rem;
}

.pack-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
}

.pack-head h5 {
    font-size: 2.4rem;
    font-weight: 600;
}


.pack-head p {
    font-size: 24px;
    font-weight: 400;

}

.pack-detail p {
    color: #555;
    font-weight: 500;
    line-height: 2.7rem;
}


.star {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
}









/* ***************************************************/










/* ***************************************************/
#destination {
    margin-top: 15rem;
}

.swiper {
    width: 100%;
}

.desSwiper {
    padding-top: 11rem;
}

#destination .sub-title {
    margin-bottom: 8rem;
}

.desSwiper .swiper-button-prev,
.desSwiper .swiper-button-next {
    top: 2.3rem;
    width: 6.8rem;
    height: 6.5rem;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    border-radius: 1rem;

}

.desSwiper .swiper-button-prev:after,
.desSwiper .swiper-button-next:after {
    font-size: 2rem;
    color: var(--secondary-color);


}

#destination .swap-data img {
    display: block;
    width: 100%;
    height: 36.1rem;
    object-fit: cover;

}

.swap-data img {
    border-radius: 1rem;
}

.swap-data {
    margin: 0 1rem;
    border-radius: 1rem;
    transition: all 0.5s;
}

.swap-data:hover {
    transform: skewY(-4rem);
}


.swap-detail {
    padding: 3rem 1.3rem 2.5rem;
    position: relative;
    opacity: 0;
}

.swap-data:hover .swap-detail {
    opacity: 1;
}

.swap-data:hover {
    box-shadow: 0px 2rem 3.5rem 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-4rem);
}

.swap-data:hover img {
    border-radius: 1rem 1rem 0 0;

}


.swap-detail h3 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;

}

.swap-detail p {
    color: #878787;
    font-size: 14px;
    font-weight: 500;
}

.des-circle {
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: -4rem;
    right: 2rem;
    background-color: var(--primary-color);
}

.des-circle span {
    color: #000;
    font-size: 7.2rem;
    font-weight: 400;
    padding: 2rem;
}

/************************************  */


/* **************Blog section***************** */

#blog {
    margin-top: 10rem;
}

.blog-des {
    padding-right: 5.6rem;
    row-gap: 5.8rem;

}



.blog-detail {
    padding: 7.2rem 1.8rem 4.2rem 2.6rem;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 1rem;


}

.blog-data .blog-detail span {
    font-size: 2.4rem;
    font-weight: 400;

}

.blog-data .blog-detail h3 {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 5.1rem;
}

.blog-data .blog-detail p {
    color: #343434;
    font-weight: 300;
    line-height: 3.3rem;
    margin-bottom: 7.2rem;
}


.blog-data .story img {
    width: 100%;
    height: 67rem;
    object-fit: cover;
    object-position: center center;
    border-radius: 1rem 1rem 0 0;

}






/************************************  */



/* **************contact section*********************/
#contact {
    margin-top: 15rem;

}

.contact-us {
    justify-content: space-between;
    row-gap: 4rem;
}

.contact-us .message {

    padding: 7.5rem 4.1rem 7rem 4.1rem;
    border-radius: 1.0rem;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);

}

.contact-us .msg-form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}

.message form input,
textarea {
    border-radius: 0.5rem;
    border: 1px solid #c4c4c4;
    padding: 1.4rem 1.9rem;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3.3rem;
    outline: none;
}

.message form textarea {
    padding: 1.4rem 1.9rem 8rem 1.9rem;
    outline: none;
    margin-bottom: 4rem;
}

.message form .common-btn {
    border-radius: 6rem;
    padding: 0.8rem;
    color: #FFF;
    font-size: 3.2rem;
    font-weight: 500;

}

.get h3 {
    color: #000;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
}

.get p {
    color: #343434;
    font-weight: 300;
    margin-bottom: 2.8rem;
}

.contact-info h4 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 5.1rem;
    margin-bottom: 1.2rem;
}

.contact-info p {
    font-weight: 400;
}

.contact-info i {
    margin-right: 0.5rem;
}

.contact-data {
    row-gap: 4rem;
}




/* ***************************************************/


/*?***************** Subcribe  section* ****************************** */


#subcribe {
    margin-top: 15rem;
    background-image: url(/assets/images/traveler-standing-rock-doi-pha-tang-morning-fog-chiang-rai-thailand.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17rem 0 10rem 1.6rem;
    height: 567.357px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
    width: 100%;
}

#subcribe::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
}

#subcribe .main-titel {
    color: var(--primary-color);
}

#subcribe .sub-titel {
    color: #DFDFDF;


}

.sub-form {
    background-color: var(--primary-color);
    border-radius: 3.4rem;
    display: block;
    justify-content: space-between;

    justify-content: space-between;
    display: flex;
    padding: 0.5rem;
    margin-bottom: 11rem;
    margin-top: 9.2rem;
    width: 676px;
    margin: 0 auto;

}

.sub-form input {
    background: #FFF;
    display: flex;
    margin: 0 auto;
    border: none;
    margin: 0;
    padding-left: 2rem;
    border-radius: 5rem;
}

.sub-form .common-btn {
    font-size: 2rem;
    font-weight: 500;
}

/* ************************************** */


/* **********************footer  ************** */
footer .container {
    padding: 11rem 1rem;
}

.footer-data {
    row-gap: 5rem;
}

footer .container .row {
    justify-content: space-between;
    row-gap: 2rem;
}

footer .container .raw .logo {
    display: flex;
}

footer .container .raw .logo-data {
    padding-right: 2.5rem;

}

footer .container .raw .logo-data img {
    object-fit: contain;
    margin-right: 1.4rem;
    width: 7rem;
}

footer .container .raw .logo-data h2 {
    font-size: 5.5rem;
}

footer .container .raw .logo-data p {
    color: #6C6C6C;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.5rem;
}


footer .container .raw h4 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 7.0rem;
}

/* footer .container .row .information {
    padding-left: 3.5rem;
} */

footer .container .raw .information a {
    color: #6C6C6C;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.4rem;
}

footer .container .raw .information span {
    color: #000;
    margin-right: 1rem;
}

footer .container .raw .quick-link a {
    display: block;
    color: #6C6C6C;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.4rem;
}

footer .container .raw .follow-us ul li {
    display: inline;
}

footer .container .raw .follow-us a {
    color: #090909;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.4rem;
    margin-right: 2rem;
}

.footer-data .information ul li a:hover,
.footer-data .quick-link ul li a:hover {
    font-weight: 700;
    color: #069ABA;
    text-decoration: underline;
}

.footer-data .follow-us .fa-facebook:hover {
    font-size: 2.8rem;
    transition: all 0.3s;
    color: rgb(8, 102, 255);
}

.footer-data .follow-us .fa-twitter:hover {
    font-size: 2.8rem;
    transition: all 0.3s;
    color: rgb(29, 161, 242);
}

.footer-data .follow-us .fa-youtube:hover,
.fa-location-dot:hover {
    font-size: 2.8rem;
    transition: all 0.3s;
    color: rgb(255, 0, 0);
}

.footer-data .follow-us .fa-instagram:hover {
    font-size: 2.8rem;
    transition: all 0.3s;
    color: rgb(215, 64, 127);
}

.fa-envelope:hover {
    color: rgb(168, 168, 0);
}

.copyright {
    width: 100%;
    height: 8.0rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    color: #DFDFDF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.4rem;
}

/* --------------footer-

/* ************************* */



.menu>ul {
    list-style-type: none;
    display: flex;

}

.menu>ul>li>a {


    display: inline-block;
}

.menu>i {
    font-size: 20px;
    margin: 1rem;
    display: none !important;
}


#nav>i,
.menu>i {
    display: none !important;
}






@media screen and (max-width: 1199px) {
    .menu>ul {
        display: block;
        position: absolute;
        top: 0;
        right: -250px;

        width: 250px;
        height: 100vh;
        background-color: #079AB9;
        transition: all 1s;
        z-index: 101;

    }


    .container nav ul li {

        display: block;
        margin: 3rem 0rem 3rem 1rem;

    }


    #nav>i {
        padding: 10px;
        font-size: 20px;
        color: white;
        position: relative;
        z-index: 100;

    }

    .menu>i,
    #nav>i {
        display: inline-block !important;
    }

    .showHide {
        right: 0 !important;
    }

}